# frontend
node_modules/
dist/

# backend
target/
*.log

# Tests
test-results/
playwright-report/
blob-report/
test-results.xml
test-failure.png
test-final-success.png
*.png

# env
.env

# mac
.DS_Store

# vscode
.vscode/