SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/lab_system
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=1234
SPRING_JPA_HIBERNATE_DDL_AUTO=create
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
APP_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
APP_RESET_DATA_ON_STARTUP=true
